<page-header [title]="'查询表格'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="searchData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">

      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">书名</nz-form-label>
          <nz-form-control>

            <input nz-input placeholder="input placeholder" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="callNo">作者</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="input placeholder" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="updatedAt">出版社</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="input placeholder" />
          </nz-form-control>
        </nz-form-item>
      </div>    
      <div nz-col nzMd="6" nzSm="24">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
       
      </div>
    </div>
  </form>
  <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
    <i nz-icon type="plus"></i>
    <span>添加</span>
  </button>

  <nz-table #basicTable [nzData]="page.list" [nzFrontPagination]=false [nzTotal]="page.total" [nzPageIndex]="page.pageNum"
    [nzPageSize]="page.pageSize" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="pageIndexChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)">
    <thead>
      <tr>
        <th>编号</th>
        <th>书名</th>
        <th>价格</th>
        <th>作者</th>
        <th>图片路径</th>
        <th>描述</th>
        <th>出版社</th>
        <th>出版日期</th>
        <th>图书数量</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td>{{item.isbn}}</td>
        <td>{{item.bookname}}</td>
        <td>{{item.price}}</td>
        <td>{{item.author}}</td>
        <td>{{item.imgsrc}}</td>
        <td>{{item.point}}</td>
        <td>{{item.publisher}}</td>

        <td>
          <a>修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
<ng-template #modalContent>
  <!-- <nz-form-item>
    <nz-form-label nzFor="no">描述</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no">
    </nz-form-control>
  </nz-form-item> -->

  <form nz-form  [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
    <se label="书号" error="请输入书号" required>
      <input nz-input formControlName="isbn">
    </se>
    <se label="书名" error="请输入书名" required>
      <input nz-input formControlName="bookname">
    </se>
    <se label="价格" error="请输入价格" required>
      <input nz-input formControlName="price">
    </se>
    <se label="作者" error="请输入作者" required>
      <input nz-input formControlName="author">
    </se>
    <se label="描述" error="请输入描述">
      <input nz-input formControlName="point">
    </se>
    <se label="图片路径" error="请输入图片路径" required>
      <input nz-input formControlName="imgurl">
    </se>
    <se label="出版社" error="请输入出版社" required>
      <input nz-input formControlName="publisher">
    </se>
    <se label="出版日期" error="请输入出版日期">
      <nz-date-picker formControlName="pubdate" nzShowTime></nz-date-picker>
    </se>
    <se label="图书数量" error="请输入图书数量" required>
      <input nz-input formControlName="number">
    </se>
  </form>
</ng-template>