<nz-card [nzBordered]="false">
  <form nz-form se-container="1" size="compact" gutter="32" [labelWidth]="null">
    <se >
      <div class="ant-form ant-form-inline">
         <form nz-form [nzLayout]="'inline'" (ngSubmit)="searchData()" class="search__form">
            <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        
              <div nz-col nzMd="6" nzSm="24">
                <nz-form-item>
                  <nz-form-label nzFor="page">书名</nz-form-label>
                  <nz-form-control>
        
                    <input  nz-input  [(ngModel)]="nameSelectedOption" name="bookname" placeholder="input placeholder" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzMd="6" nzSm="24">
                <nz-form-item>
                  <nz-form-label nzFor="page">作者</nz-form-label>
                  <nz-form-control>
                    <input nz-input [(ngModel)]="authorSelectedOption"  name="author" placeholder="input placeholder" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzMd="6" nzSm="24">
                <nz-form-item>
                  <nz-form-label nzFor="page">出版社</nz-form-label>
                  <nz-form-control>
                    <input    nz-input [(ngModel)]="pubSelectedOption" name="publisher" placeholder="input placeholder" />
                  </nz-form-control>
                </nz-form-item>
              </div>    
              <div nz-col nzMd="6" nzSm="24">
                <button nz-button type="submit" [nzType]="'primary'" >查询</button>
                <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
               
              </div>
            </div>
          </form>
      </div>
    </se>
  </form>
</nz-card>
<nz-list  [nzRenderItem]="item" [nzDataSource]="page" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>
      <nz-card nzHoverable [nzCover]="cover">
        <ng-template #cover >
          <img  src="{{item.imgurl}}"  [routerLink]="['/pro/list/detail']">
        </ng-template>
        <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="item.point">
          <ng-template #nzTitle>
            <a (click)="msg.success('标题：' + item.id);">{{item.bookname}}</a>
          </ng-template>
        </nz-card-meta>
        <div class="card-item-content">
          <button nz-button [routerLink]="['/pro/list/fillpay']" [nzType]="'primary'">立即购买</button>
          <button nz-button (click)="msg.success('加入购物车成功！')"><i nz-icon type="shopping-cart" class="display-3"></i>加入购物车</button>
        </div>
      </nz-card>
    </nz-list-item>
  </ng-template>
</nz-list>
