<nz-card nzType="inner" nzTitle="收货地址管理">
  <nz-list [nzLoading]="loading" [nzDataSource]="list" [nzRenderItem]="item" [nzGrid]="{gutter: 24, lg: 8, md: 12, sm: 24, xs: 24 }">
    <ng-template #item let-item>
      <nz-list-item>
        <button *ngIf="item === null" nz-button (click)="showModal()" [nzType]="'dashed'" style="width: 100%; height: 183px;">
          <i nz-icon type="plus"></i>
          <span>新增地址</span>
        </button>
        <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
          <ng-template #modalTitle>
            收货地址添加
          </ng-template>

          <ng-template #modalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>收货人姓名</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                  <input nz-input formControlName="userName" placeholder="">
                  <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors || validateForm.get('userName')?.pending ">
                    <ng-container *ngIf="validateForm.get('userName')?.hasError('required')">
                      Please input your username!
                    </ng-container>
                    <ng-container *ngIf="validateForm.get('userName')?.hasError('duplicated')">
                      The username is redundant!
                    </ng-container>
                    <ng-container *ngIf="validateForm.get('userName')?.pending">
                      Validating...
                    </ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>

              
              <nz-form-item>
                <nz-form-label [nzSpan]="7" nzFor="phoneNumber" nzRequired>收货人电话</nz-form-label>
                <nz-form-control [nzSpan]="12"  [nzValidateStatus]="validateForm.controls['phoneNumber']">
                  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
                        <nz-option nzLabel="+86" nzValue="+86"></nz-option>
                        <nz-option nzLabel="+87" nzValue="+87"></nz-option>
                      </nz-select>
                    </ng-template>
                    <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateForm.get('phoneNumber')?.dirty && validateForm.get('phoneNumber')?.errors">Please input your phone number!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>


              <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired nzFor="note">收货人地址</nz-form-label>
                  <nz-form-control [nzSpan]="12">
                    <input id="note" type="text" nz-input formControlName="note">
                    <nz-form-explain *ngIf="validateForm.get('note')?.dirty && validateForm.get('note')?.errors">Please input your username!</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
            </form>
          </ng-template>

          <ng-template #modalFooter>
            <span> </span>
            <button nz-button nzType="default" (click)="handleCancel()">取消</button>
            <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">提交</button>
          </ng-template>
        </nz-modal>

        <nz-card nzHoverable *ngIf="item !== null" [nzActions]="[op1, op2]">
          <label nz-checkbox [ngModel]="true" (click)="checkboxClick($event)">Email</label>

          <ng-template #op1>
            <a (click)="msg.success('操作一：' + item.id);">编辑地址</a>
          </ng-template>
          <ng-template #op2>
            <a (click)="msg.success('操作二：' + item.id);">删除地址</a>
          </ng-template>
          <nz-card-meta [nzAvatar]="nzAvatar" [nzTitle]="nzTitle" [nzDescription]="nzDescription">
            <ng-template #nzAvatar>
              <nz-avatar nzSize="large" [nzSrc]="item.avatar"></nz-avatar>
            </ng-template>
            <ng-template #nzTitle>
              <a (click)="msg.success('标题：' + item.id);">{{item.title}}</a>
            </ng-template>
            <ng-template #nzDescription>
              <ellipsis>{{item.description}}</ellipsis>
            </ng-template>
          </nz-card-meta>
        </nz-card>
      </nz-list-item>
    </ng-template>
  </nz-list>
</nz-card>

<nz-card nzType="inner" nzTitle="送货信息展示">
    <sv-container layout="vertical" col="6" gutter = 50>
        <sv-title>送货清单</sv-title>
        
        <sv label=""><img alt="" src="https://gw.alipayobjects.com/zos/rmsportal/RLwlKSYGSXGHuWSojyvp.png" style="height: 100px;"></sv>
        <sv label="书籍名称">傲慢与偏见</sv>
        <sv label="单价">85.00</sv>
        <sv label="数量">2</sv>
        <sv label="总价">160.00</sv>
        <sv label="配送地址">济南市历城区凤鸣路2000号山东建筑大学</sv>
      </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="small" title="" col="3">
    <sv label=""> </sv>
    <sv label="商品金额"> 96.00 </sv>
    <sv label="运费"> 0.00 </sv>
    <sv label="店铺合计" style="float: right"> 96.00</sv>
  </sv-container>
  <nz-divider></nz-divider>

</nz-card>
<nz-card nzType="inner" nzTitle="信息确认">
  <button nz-button  (click)="msg.success('付款成功')" [nzLoading]="printing" style="float: right;"><a>去付款</a></button>

</nz-card>




