<!--订单页-->
<nz-card nzTitle="Card Title">
  <p style="font-size:14px;color:rgba(0, 0, 0, 0.85);margin-bottom:16px;font-weight: 500;margin-left: 9px;">
    <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
      全选
    </label>
  </p>
  <nz-card nzType="inner">
    <div nz-row style="margin: -6px 0 10px -15px;" id = "orderStyle" >
      <!-- <label nz-checkbox nzValue="M">书籍名称</label> -->
      <ul>
        <li> <label nz-checkbox nzValue="M">书籍名称</label></li>
        <li>订单号：<i></i></li>
        <li>订单日期：<i></i></li>
        <li>价格</li>
        <li>支付方式：<i></i></li>
        <li>订单姓名</li>
      </ul>
      <a style = "float:right">移除</a>
    </div>
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
      <div nz-col nzSpan="4">
        <img src="http://img3m7.ddimg.cn/66/20/1434823797-1_l_1.jpg" width="150" height="150">
      </div>
      <div nz-col nzSpan="13">描述：戒了吧，拖延症——写给年轻人的拖延心理学（人生有限，拖延有害，彻底告别拖延带来的恐惧和焦虑。学会时间管理，看这一本就足够，终结拖延症，你就已经成功超越了93%的人）</div>
      <div nz-col nzSpan="3" style="margin-left: 10px">价格：$46.4</div>
      <div nz-col nzSpan="3">
      
      </div>
    </div>
  </nz-card>
  <nz-card nzType="inner" style="margin-top:16px;">
    <div nz-row style="margin: -6px 0 10px -15px;">
      <!-- <label nz-checkbox nzValue="M">书籍名称 </label> -->
      <a style = "float:right">移除</a>
    </div>
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
      <div nz-col nzSpan="4">
        <img src="http://img3x6.ddimg.cn/29/18/23359376-1_b_2.jpg" width="150" height="150">
      </div>
      <div nz-col nzSpan="13">描述：人性的解析大全集（全三册）（畅销100万册，人性的弱点+人性的优点+自卑与超越，薛之谦，抖音推荐。深度剖析人类的本性）</div>
      <div nz-col nzSpan="3" style="margin-left: 10px">价格：$46.4</div>
      <div nz-col nzSpan="3">
        
      </div>
    </div>
  </nz-card>

  <nz-card nzType="inner" style="margin-top:16px;" nzTitle="总计付款" [nzExtra]="extraTemplate1">
    <div nz-card-grid [ngStyle]="gridStyle1">图片展示</div>
    <div nz-card-grid [ngStyle]="gridStyle2">描述</div>
    <div nz-card-grid [ngStyle]="gridStyle3">价格</div>
    <div nz-card-grid [ngStyle]="gridStyle4">数量</div>
  </nz-card>